
body{
    background-color: #1a1a1b;
    position: relative;
    padding-bottom: 3em;
    min-height: 100vh;
  }
  
header{
    align-items: center;
    background-color: black;
    color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    min-height: 20vh;
  }
  
.titulo{
    color: darkgrey;
    font-family: 'Tilt Neon', cursive;
    font-size: 30px;
    margin: 30px;
    text-align: center;
}

.titulo:hover{
    color: #c78c19;
}
  
.icono-whatsapp{
    bottom: 1.8vh;
    right: 2.8vh;
    width: 7.5vh;
}
  
.icono-facebook{
    position: static left;
    width: 7.5vh;
}
  
.icono-instagram{
    position: static left;
    width: 7.5vh;
}

a:hover{
    color: #c78c19;
}

#habilidades{
    color: darkgrey;
    font-family: 'Tilt Neon', cursive;
    font-size: 20px;
    padding: 15px;
}

  
.foto-cv{
    border-radius: 10%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
}
  
aside{
    background: #141616;
    box-sizing: border-box;
    flex-direction: row;
    float: left;
    padding: 15px;
    width: 30%;
}


iframe{
    margin-left: 100px;
    padding: 200;
    text-align: center;
}
  
  
#subtitulo{
    color: darkgrey;
    font-family: 'Tilt Neon', cursive;
    font-size: 15px;
    margin: 10px;
    text-align: center;
    padding: 25px;
}
  
#subtitulo:hover{
    color: #c78c19;
}
  
#hability{
    color: darkgrey;
    font-family: 'Tilt Neon', cursive;
    font-size: 18px;
}

#about{
    color: darkgrey;
    font-family: 'Tilt Neon', cursive;
    font-size: 11px;
    text-align: left;
}


footer{
    align-items: center;
    background-color: black;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    min-height: 100px;
    justify-content: space-between;
    text-align: center;
    padding: 10px 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
}
  
.mapa{
    width: 110px;
    height: 110px;
}

  
  /*Responsive*/
  
  @media (max-width:767px){
  
    body{
      background: #999999;
    }
  
    .titulo{
      font-size: 2em;
      margin: 2em;
    }
    
    #subtitulo{
      font-size: 1.5em;
      padding: 10px;
    }
  
    .foto-cv{
       text-align: center;
       height: 47.4vh;
       padding: 52px;
       width: 47.4vh;
    }
  
    .aside{
       box-sizing: content-box;
       float: none;
    }
  
    #subtitulo{
      font-size: 2em;
    }
  
    iframe{
      margin-left: 30px;
      padding: 30%;
      text-align: center;
    }
  
  }
  
  @media (max-width:991px) {
  
    body{
      background: #333333;
    }

  
    .titulo{
      font-size: 2em;
      margin: 2em;
    }
  
    #subtitulo{
      font-size: 3em;
      padding: 10px;
    }
  
    .foto-cv{
       display: flex;
       flex-direction: row;
       text-align: center;
       height: 47.4vh;
       padding: 52px;
       width: 47.4vh;
    }
  
    aside{
       box-sizing: content-box;
       float: none;
       padding: 80px;
       width: 80%;
    }
  
    #subtitulo{
      font-size: 2em;
    }
